<ion-header>
  <ion-toolbar>
    <ion-title>{{ pageTitle }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <app-card 
    [card]="card1"
  ></app-card>
  
  <app-card 
    [card]="card2"
    [defaultBehavior]="false"
    (onCardClicked)="cardClicked($event)"
  ></app-card> -->
  
    <div *ngIf="isAdmin">Administrador</div>
    <div *ngIf="!isAdmin">Usário</div>

  <app-card 
    *ngFor="let item of cards"
    [card]="item"
    [defaultBehavior]="false"
    (onCardClicked)="cardClicked($event)"
  ></app-card>


</ion-content>
