<ion-header>
  <ion-toolbar>
    <ion-title>details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="movie-container" *ngIf="movieModel">
    <img [src]="'https://image.tmdb.org/t/p/w500' + movieModel.poster_path" alt="">
    
    <div class="movie-title">
      {{ movieModel.title }}
    </div>
    <div class="movie-genres">
      <span 
        *ngFor="let genre of movieModel.genres"
        [class.action]="genre.id == 28"
        [class.crime]="genre.id == 80"
        [class.fiction]="genre.id == 878">{{ genre.name }}</span>
    </div>
    <div class="movie-subtitle">
      {{ movieModel.release_date | date: 'dd/MM/yyyy' }}
    </div>
    <div class="movie-content" [innerHTML]="movieModel.overview"></div>
  </div>
</ion-content>
