/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.movie-container {
    text-align: center;

    img {
        width: 100%;
        margin-bottom: 5px;
    }

    .movie-title {
        font-size: 22px;
        font-weight: bold;
    }

    .movie-subtitle {
        font-size: 18px;
    }

    .movie-content {
        margin-top: 10px;
        font-size: 14px;
        color: #4a3c3c;
        padding: 0 10px;
        text-align: justify;
    }

    .movie-genres {
        padding: 12px 0;
        span {
            background: lightgrey;
            border-radius: 12px;
            padding: 4px 12px;
            margin-left: 8px;

            &.action {
                background: blue;
                color: white;
            }

            &.crime {
                background: red;
                color: white;
            }

            &.fiction {
                background: purple;
                color: white;
            }
        }
    }
}