<ion-header>
  <ion-toolbar>
    <ion-title>movies</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card 
    *ngFor="let movie of movies" 
    (click)="goToDetails(movie.id)">
    <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" />
    <ion-card-header>
      <ion-card-subtitle>{{ movie.release_date | date: 'dd/MM/yyyy' }}</ion-card-subtitle>
      <ion-card-title>{{ movie.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ movie.overview }}
    </ion-card-content>
  </ion-card>
</ion-content>
