<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div>
      Titulo: <input type="text" [(ngModel)]="movieModel.title"> <br>
      Subtitulo: <input type="text" [(ngModel)]="movieModel.subtitle"> <br>
      Imagem: <input type="text" [(ngModel)]="movieModel.image"> <br>
      Conteúdo: <textarea class="content-textarea" [(ngModel)]="movieModel.content"></textarea> <br>
      <button (click)="saveMovie()">Gravar</button>
    </div>

    <app-card 
      *ngFor="let movie of movies" 
      [card]="movie"
      [defaultBehavior]="false"
      (onCardClicked)="movieClicked($event)"></app-card>
  </div>
</ion-content>
